* {
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: monospace;
}

body {
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-content: center;
    background-color: #EEF5FF;
}

.task-list {
    width: 32rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    background-color: #B4D4FF;
}

@media screen and (max-width: 32rem) {
    .task-list {
        width: 100%;
    }
}

.task {
    display: grid;
    grid-template-columns: 1fr min-content;
    gap: 1rem;
}

.date {
    font-size: 1rem;
    color: #FFFFFF;
}

.description {
    font-size: 2rem;
    color: #FFFFFF;
}

.text-box {
    outline: none;
    border: 0.25rem solid #86B6F6;
    padding: 0.5rem;
    color: #86B6F6;
}

.button {
    border: 0.25rem solid #86B6F6;
    padding: 0.5rem;
    color: #FFFFFF;
    background-color: #86B6F6;
    transition: opacity ease 1s;
}

.button:hover {
    opacity: 75%;
    transition: opacity ease 1s;
}

.status {
    border: 0.25rem solid #86B6F6;
    padding: 0.5rem;
    color: #86B6F6;
    background-color: #FFFFFF;
}

.image-button {
    width: 2rem;
    transition: opacity ease 1s;
}

.image-button:hover {
    opacity: 75%;
    transition: opacity ease 1s;
}